{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <a href="{% url 'dashboard' %}" class="brand-link">
      <img
        src="{% static 'assets/img/AdminLTELogo.png' %}"
        alt="GanaStock Logo"
        class="brand-image opacity-75 shadow"
      />
      <span class="brand-text fw-light">GanaStock</span>
    </a>
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2" aria-label="Main navigation">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        data-accordion="false"
        id="navigation"
      >
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link{% if request.resolver_match.url_name == 'dashboard' %} active{% endif %}" data-page="index.html">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>Panel Inicio</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'stock' %}" class="nav-link{% if request.resolver_match.url_name == 'stock' %} active{% endif %}" data-page="stock.html">
            <i class="nav-icon bi bi-box-seam-fill"></i>
            <p>Stock Ganadero</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'finanzas' %}" class="nav-link{% if request.resolver_match.url_name == 'finanzas' or request.resolver_match.url_name == 'movimientos' %} active{% endif %}" data-page="finanzas.html">
            <i class="nav-icon bi bi-cash-stack"></i>
            <p>Finanzas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'potreros' %}" class="nav-link{% if request.resolver_match.url_name == 'potreros' %} active{% endif %}" data-page="potreros.html">
            <i class="nav-icon bi bi-signpost-split"></i>
            <p>Parcelas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'sanidad' %}" class="nav-link{% if request.resolver_match.url_name == 'sanidad' or request.resolver_match.url_name == 'vacunacion' %} active{% endif %}" data-page="sanidad.html">
            <i class="nav-icon bi bi-shield-plus"></i>
            <p>Sanidad</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'pesajes' %}" class="nav-link{% if request.resolver_match.url_name == 'pesajes' %} active{% endif %}" data-page="pesajes.html">
            <i class="nav-icon bi bi-speedometer2"></i>
            <p>Pesajes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'alimentacion' %}" class="nav-link{% if request.resolver_match.url_name == 'alimentacion' %} active{% endif %}" data-page="alimentacion.html">
            <i class="nav-icon bi bi-basket2-fill"></i>
            <p>Alimentacion</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'insumos' %}" class="nav-link{% if request.resolver_match.url_name == 'insumos' %} active{% endif %}" data-page="insumos.html">
            <i class="nav-icon bi bi-box-seam"></i>
            <p>Insumos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'usuarios' %}" class="nav-link{% if request.resolver_match.url_name == 'usuarios' %} active{% endif %}" data-page="usuarios.html">
            <i class="nav-icon bi bi-people-fill"></i>
            <p>Usuarios</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'configuracion' %}" class="nav-link{% if request.resolver_match.url_name == 'configuracion' %} active{% endif %}" data-page="configuracion.html">
            <i class="nav-icon bi bi-gear-fill"></i>
            <p>Configuracion</p>
          </a>
        </li>

      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
